<% if page.foreign_link.present? %>
  <div class="pt-2">
    <%= link_to page.title, page.foreign_link, target: '_blank', rel: 'nofollow' %>
  </div>
<% else %>
  <% page_uri = Rails.application.routes.named_routes[:spree].path.spec.to_s == '/' ? page.slug : Rails.application.routes.named_routes[:spree].path.spec.to_s + page.slug %>
  <div class="pt-2">
    <%= link_to page.title, page_uri %>
  </div>
<% end %>