<div style="background-color:#f1f1f1">
  <div style="padding-top:40px;padding-bottom:40px;background-color:#f1f1f1">
    <div style="margin:0px auto;max-width:600px">
      <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%">
        <tbody>
        <tr>
          <td style="direction:ltr;font-size:0px;padding:0px;text-align:center;vertical-align:top">
            <div style="background:#ffffff;background-color:#ffffff;margin:0px auto;border-radius:4px 4px 0px 0px;max-width:600px">
              <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#ffffff;background-color:#ffffff;width:100%;border-radius:4px 4px 0px 0px">
                <tbody>
                <tr>
                  <td style="direction:ltr;font-size:0px;padding:0px;text-align:center;vertical-align:top">
                    <div style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                      <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                        <tbody>
                        <tr>
                          <td style="vertical-align:top;padding-bottom:30px;padding-left:30px">
                            <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                              <tbody>
                              <tr>
                                <td align="left" style="font-size:0px;padding:0;word-break:break-word">
                                  <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:collapse;border-spacing:0px">
                                    <tbody>
                                    <tr>
                                      <td style="width:145px"><img alt="TermFeed" height="45" src="https://ci4.googleusercontent.com/proxy/VQCPz1opmYiOxntn4ydu8wQv9eGAcq8ttGs1jQN5A3gNR0s-QEga3WmgNNPxHvoGA2M6p3LueHanjedkKZq3NzoCjLa6w7wO8Q=s0-d-e1-ft#https://app.termsfeed.com/images/email-images/logo.png" width="145" style="border:0;display:block;outline:none;text-decoration:none;height:45px;width:100%" class="CToWUd"></td>
                                    </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div style="background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:600px">
              <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#ffffff;background-color:#ffffff;width:100%">
                <tbody>
                <tr>
                  <td style="direction:ltr;font-size:0px;padding:20px 0;padding-bottom:0px;padding-left:0px;padding-right:30px;text-align:center;vertical-align:top">
                    <div style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                      <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="vertical-align:top">
                        <tbody>
                        <tr>
                          <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word">
                            <div style="font-family:Arial;font-size:20px;font-weight:700;line-height:26px;text-align:left;color:#444444">
                              Your Privacy Policy</div>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div style="background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:600px">
              <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#ffffff;background-color:#ffffff;width:100%">
                <tbody>
                <tr>
                  <td style="direction:ltr;font-size:0px;padding:20px 0;padding-bottom:0px;padding-left:0px;padding-right:30px;text-align:center;vertical-align:top">
                    <div style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                      <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="vertical-align:top">
                        <tbody>
                        <tr>
                          <td align="left" style="font-size:0px;padding:10px 25px;padding-top:0px;word-break:break-word">
                            <div style="font-family:Arial;font-size:16px;line-height:24px;text-align:left;color:#444444">
                              Congratulations on your recent purchase of a premium Privacy Policy from TermsFeed. Your Privacy Policy
                              <strong>is a premium agreement</strong> with additional clauses and disclosures added.</div>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div style="background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:600px">
              <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#ffffff;background-color:#ffffff;width:100%">
                <tbody>
                <tr>
                  <td style="direction:ltr;font-size:0px;padding:20px 0;padding-bottom:30px;padding-left:0px;padding-right:0;padding-top:10px;text-align:center;vertical-align:top">
                    <div style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                      <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="vertical-align:top">
                        <tbody>
                        <tr>
                          <td align="center" style="font-size:0px;padding:10px 25px;word-break:break-word">
                            <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:separate;width:100%;line-height:100%">
                              <tbody>
                              <tr>
                                <td align="center" bgcolor="#5BB839" role="presentation" valign="middle" style="border:none;border-radius:4px;padding:10px 25px;background:#5bb839">
                                  <a href="https://app.termsfeed.com/download/4d53203a-0370-4f87-a234-6ee6a9df354a" style="background:#5bb839;color:white;font-family:Arial;font-size:14px;font-weight:700;line-height:120%;margin:0;text-decoration:none;text-transform:uppercase" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://app.termsfeed.com/download/4d53203a-0370-4f87-a234-6ee6a9df354a&amp;source=gmail&amp;ust=1621925283091000&amp;usg=AFQjCNEa31Pz9R2EtBYBH2O4rI33tIRr5Q">Download
                                    Your Agreement</a></td>
                              </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div style="background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:600px">
              <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#ffffff;background-color:#ffffff;width:100%">
                <tbody>
                <tr>
                  <td style="border-top:1px solid #d9d9d9;direction:ltr;font-size:0px;padding:20px 0;padding-bottom:0px;text-align:center;vertical-align:top">
                    <div style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                      <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="vertical-align:top">
                        <tbody>
                        <tr>
                          <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word">
                            <div style="font-family:Arial;font-size:20px;font-weight:700;line-height:26px;text-align:left;color:#444444">
                              <span style="color:#5c9916">Your Free Hosted Link</span></div>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div style="background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:600px">
              <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#ffffff;background-color:#ffffff;width:100%">
                <tbody>
                <tr>
                  <td style="direction:ltr;font-size:0px;padding:20px 0;padding-bottom:0px;text-align:center;vertical-align:top">
                    <div style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                      <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="vertical-align:top">
                        <tbody>
                        <tr>
                          <td align="left" style="font-size:0px;padding:10px 25px;padding-top:0px;padding-bottom:0px;word-break:break-word">
                            <div style="font-family:Arial;font-size:16px;line-height:24px;text-align:left;color:#444444">
                              Link to your Privacy Policy directly using the Live Link. <strong>Your Privacy Policy is hosted for free by TermFeed.</strong></div>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div style="background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:600px">
              <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#ffffff;background-color:#ffffff;width:100%">
                <tbody>
                <tr>
                  <td style="direction:ltr;font-size:0px;padding:20px 0;padding-bottom:30px;text-align:center;vertical-align:top">
                    <div style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                      <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="vertical-align:top">
                        <tbody>
                        <tr>
                          <td align="left" style="font-size:0px;padding:10px 25px;padding-top:0px;word-break:break-word">
                            <div style="font-family:Arial;font-size:16px;font-weight:700;line-height:24px;text-align:left;color:#444444">
                              <a href="https://www.termsfeed.com/live/4d53203a-0370-4f87-a234-6ee6a9df354a" style="color:#5c9916" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.termsfeed.com/live/4d53203a-0370-4f87-a234-6ee6a9df354a&amp;source=gmail&amp;ust=1621925283091000&amp;usg=AFQjCNFAt2IuzIRfKK-7a8huUr41cI0yJA">https://www.termsfeed.com/<wbr>live/4d53203a-0370-4f87-a234-<wbr>6ee6a9df354a</a>
                            </div>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div style="background:#dbeaf4;background-color:#dbeaf4;margin:0px auto;max-width:600px">
              <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#dbeaf4;background-color:#dbeaf4;width:100%">
                <tbody>
                <tr>
                  <td style="border-top:1px solid #c5deee;direction:ltr;font-size:0px;padding:20px 0;padding-bottom:0px;text-align:center;vertical-align:top">
                    <div style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                      <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="vertical-align:top">
                        <tbody>
                        <tr>
                          <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word">
                            <div style="font-family:Arial;font-size:20px;font-weight:700;line-height:26px;text-align:left;color:#444444">
                              <span style="color:#0c5dae">EU Cookies Law Compliance with Cookie Consent</span></div>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div style="background:#dbeaf4;background-color:#dbeaf4;margin:0px auto;max-width:600px">
              <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#dbeaf4;background-color:#dbeaf4;width:100%">
                <tbody>
                <tr>
                  <td style="direction:ltr;font-size:0px;padding:20px 0;text-align:center;vertical-align:top">
                    <div style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                      <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="vertical-align:top">
                        <tbody>
                        <tr>
                          <td align="left" style="font-size:0px;padding:10px 25px;padding-top:0px;padding-bottom:0px;word-break:break-word">
                            <div style="font-family:Arial;font-size:16px;line-height:24px;text-align:left;color:#444444">
                              Our <strong>Cookie Consent</strong> solution is the easiest, stress-free solution to manage cookies and help with the EU Cookies Law compliance. Best of all?
                              <strong>It's already included in your purchase.</strong> There's no limit on pageviews.</div>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div style="background:#dbeaf4;background-color:#dbeaf4;margin:0px auto;max-width:600px">
              <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#dbeaf4;background-color:#dbeaf4;width:100%">
                <tbody>
                <tr>
                  <td style="direction:ltr;font-size:0px;padding:20px 0;padding-bottom:30px;padding-top:0px;text-align:center;vertical-align:top">
                    <div style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                      <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="vertical-align:top">
                        <tbody>
                        <tr>
                          <td align="center" style="font-size:0px;padding:10px 25px;word-break:break-word">
                            <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:separate;width:100%;line-height:100%">
                              <tbody>
                              <tr>
                                <td align="center" bgcolor="#0564B6" role="presentation" valign="middle" style="border:none;border-radius:4px;padding:10px 25px;background:#0564b6">
                                  <a href="https://www.termsfeed.com/cookie-consent/" style="background:#0564b6;color:white;font-family:Arial;font-size:14px;font-weight:700;line-height:120%;margin:0;text-decoration:none;text-transform:uppercase" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.termsfeed.com/cookie-consent/&amp;source=gmail&amp;ust=1621925283092000&amp;usg=AFQjCNHxFqUkw1r15AbJ-3EbrcwNxPm1Aw">Integrate Cookie Consent</a></td>
                              </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div style="background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:600px">
              <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#ffffff;background-color:#ffffff;width:100%">
                <tbody>
                <tr>
                  <td style="border-top:1px solid #c5deee;direction:ltr;font-size:0px;padding:20px 0;text-align:center;vertical-align:top">
                    <div style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                      <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="vertical-align:top">
                        <tbody>
                        <tr>
                          <td align="left" style="font-size:0px;padding:10px 25px;padding-bottom:0px;word-break:break-word">
                            <div style="font-family:Arial;font-size:20px;font-weight:700;line-height:26px;text-align:left;color:#444444">
                              Choose your next agreement:</div>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div style="background:#ffffff;background-color:#ffffff;margin:0px auto;border-radius:0px 0px 4px 4px;max-width:600px">
              <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#ffffff;background-color:#ffffff;width:100%;border-radius:0px 0px 4px 4px">
                <tbody>
                <tr>
                  <td style="direction:ltr;font-size:0px;padding:20px 0;padding-bottom:30px;padding-top:0px;text-align:center;vertical-align:top">
                    <div style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                      <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="vertical-align:top">
                        <tbody>
                        <tr>
                          <td align="left" style="font-size:0px;padding:10px 25px;padding-top:0px;padding-bottom:0px;word-break:break-word">
                            <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="margin:0px">
                              <tbody>
                              <tr>
                                <td style="padding:4px">
                                  <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-radius:3px;width:24px">
                                    <tbody>
                                    <tr>
                                      <td style="font-size:0;height:24px;vertical-align:middle;width:24px"><a href="https://app.termsfeed.com/wizard/privacy-policy" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://app.termsfeed.com/wizard/privacy-policy&amp;source=gmail&amp;ust=1621925283092000&amp;usg=AFQjCNFE0a81dcQL8Zc53eOr04_Aej2t1w"><img height="24" src="https://ci4.googleusercontent.com/proxy/IXl_zYB4Y-HPo9dmpT2gMCrD0FOinQxBmqcGvucK23yfcUiVoeM50w5RbW2tIu4rFHpnp_Q2zoZ-e0bbjG5Z3MtTnI_44XPq3XQ6ECpIUZGLDhoXzvoyNQ=s0-d-e1-ft#https://app.termsfeed.com/images/email-images/privacy-policy-icon.png" width="24" style="border-radius:3px" class="CToWUd"></a></td>
                                    </tr>
                                    </tbody>
                                  </table>
                                </td>
                                <td style="vertical-align:middle;padding:4px 4px 4px 0"><a href="https://app.termsfeed.com/wizard/privacy-policy" style="color:#333333;font-size:18px;font-family:Arial;line-height:60px;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://app.termsfeed.com/wizard/privacy-policy&amp;source=gmail&amp;ust=1621925283092000&amp;usg=AFQjCNFE0a81dcQL8Zc53eOr04_Aej2t1w"><span style="padding-left:12px;color:#e9aa31;text-decoration:none">Privacy
 Policy</span></a></td>
                              </tr>
                              <tr>
                                <td style="padding:4px">
                                  <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-radius:3px;width:24px">
                                    <tbody>
                                    <tr>
                                      <td style="font-size:0;height:24px;vertical-align:middle;width:24px"><a href="https://app.termsfeed.com/wizard/terms-conditions" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://app.termsfeed.com/wizard/terms-conditions&amp;source=gmail&amp;ust=1621925283092000&amp;usg=AFQjCNFA9kA-Fezge1NUoAmXB67zJ_agow"><img height="24" src="https://ci6.googleusercontent.com/proxy/Kx0fKlQo4AAdoiHWQ4mOoFxk2nwfpeOGLD4fwfwC_Dx7wkX376VjOc3VJDXJLf5GDwxDvXwlgqCymnbuRYcm1S8cvraN83yLEqSxcldq9-nMzE2qKiGwA1en=s0-d-e1-ft#https://app.termsfeed.com/images/email-images/terms-conditions-icon.png" width="24" style="border-radius:3px" class="CToWUd"></a></td>
                                    </tr>
                                    </tbody>
                                  </table>
                                </td>
                                <td style="vertical-align:middle;padding:4px 4px 4px 0"><a href="https://app.termsfeed.com/wizard/terms-conditions" style="color:#333333;font-size:18px;font-family:Arial;line-height:60px;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://app.termsfeed.com/wizard/terms-conditions&amp;source=gmail&amp;ust=1621925283092000&amp;usg=AFQjCNFA9kA-Fezge1NUoAmXB67zJ_agow"><span style="padding-left:12px;color:#71bc73;text-decoration:none">Terms
 &amp; Conditions</span></a></td>
                              </tr>
                              <tr>
                                <td style="padding:4px">
                                  <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-radius:3px;width:24px">
                                    <tbody>
                                    <tr>
                                      <td style="font-size:0;height:24px;vertical-align:middle;width:24px"><a href="https://app.termsfeed.com/wizard/eula" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://app.termsfeed.com/wizard/eula&amp;source=gmail&amp;ust=1621925283092000&amp;usg=AFQjCNGV8pQyEksGxGYTna83D8QwCS7v_A"><img height="24" src="https://ci3.googleusercontent.com/proxy/V8NkRayFX1fWMvQrrVJZDkARIvnfTcGVgRzqYIPxovVg4__3-dF01BPKqAikmKUVbezcL-CmbOXoeeHS2B75ZMzp_tMn3Xvlw0dCA4Vz=s0-d-e1-ft#https://app.termsfeed.com/images/email-images/eula-icon.png" width="24" style="border-radius:3px" class="CToWUd"></a></td>
                                    </tr>
                                    </tbody>
                                  </table>
                                </td>
                                <td style="vertical-align:middle;padding:4px 4px 4px 0"><a href="https://app.termsfeed.com/wizard/eula" style="color:#333333;font-size:18px;font-family:Arial;line-height:60px;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://app.termsfeed.com/wizard/eula&amp;source=gmail&amp;ust=1621925283092000&amp;usg=AFQjCNGV8pQyEksGxGYTna83D8QwCS7v_A"><span style="padding-left:12px;color:#4c97c9;text-decoration:none">EULA</span></a>
                                </td>
                              </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                    <div style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                      <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="vertical-align:top">
                        <tbody>
                        <tr>
                          <td align="left" style="font-size:0px;padding:10px 25px;padding-top:0px;padding-bottom:0px;word-break:break-word">
                            <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="margin:0px">
                              <tbody>
                              <tr>
                                <td style="padding:4px">
                                  <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-radius:3px;width:24px">
                                    <tbody>
                                    <tr>
                                      <td style="font-size:0;height:24px;vertical-align:middle;width:24px"><a href="https://app.termsfeed.com/wizard/return-refund-policy" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://app.termsfeed.com/wizard/return-refund-policy&amp;source=gmail&amp;ust=1621925283092000&amp;usg=AFQjCNEHqv1hpbTg2QCHkJc2Sl_9LKc2kw"><img height="24" src="https://ci3.googleusercontent.com/proxy/Auzs_DEifY1EP9XK5Z65XMNq0fTOCnq_cERKlru6HKjv6tp3XKNozp2IxSf7n51TV2y3MzQJHD3j-EXi9f0f6-3BWhak91wS0bhh17KXPr8=s0-d-e1-ft#https://app.termsfeed.com/images/email-images/refund-icon.png" width="24" style="border-radius:3px" class="CToWUd"></a></td>
                                    </tr>
                                    </tbody>
                                  </table>
                                </td>
                                <td style="vertical-align:middle;padding:4px 4px 4px 0"><a href="https://app.termsfeed.com/wizard/return-refund-policy" style="color:#333333;font-size:18px;font-family:Arial;line-height:60px;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://app.termsfeed.com/wizard/return-refund-policy&amp;source=gmail&amp;ust=1621925283092000&amp;usg=AFQjCNEHqv1hpbTg2QCHkJc2Sl_9LKc2kw"><span style="padding-left:12px;color:#b15281;text-decoration:none">Returns
 &amp; Refund</span></a></td>
                              </tr>
                              <tr>
                                <td style="padding:4px">
                                  <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-radius:3px;width:24px">
                                    <tbody>
                                    <tr>
                                      <td style="font-size:0;height:24px;vertical-align:middle;width:24px"><a href="https://app.termsfeed.com/wizard/cookies-policy" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://app.termsfeed.com/wizard/cookies-policy&amp;source=gmail&amp;ust=1621925283092000&amp;usg=AFQjCNF-fFqwOGSkAvV8pfYm-NMgfin0dQ"><img height="24" src="https://ci3.googleusercontent.com/proxy/S6gyaza6QplJuT2lMegwFAdVNEXzKVBIuk3PFMt1_XEGl87yxbVRvKsJyiI21Q2aojb0Ycwh6EuuoH4-JQAd3P1qw4iqmyTcCbUbTNRQhqqN=s0-d-e1-ft#https://app.termsfeed.com/images/email-images/cookies-icon.png" width="24" style="border-radius:3px" class="CToWUd"></a></td>
                                    </tr>
                                    </tbody>
                                  </table>
                                </td>
                                <td style="vertical-align:middle;padding:4px 4px 4px 0"><a href="https://app.termsfeed.com/wizard/cookies-policy" style="color:#333333;font-size:18px;font-family:Arial;line-height:60px;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://app.termsfeed.com/wizard/cookies-policy&amp;source=gmail&amp;ust=1621925283092000&amp;usg=AFQjCNF-fFqwOGSkAvV8pfYm-NMgfin0dQ"><span style="padding-left:12px;color:#52b1a8;text-decoration:none">Cookies
 Policy</span></a></td>
                              </tr>
                              <tr>
                                <td style="padding:4px">
                                  <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-radius:3px;width:24px">
                                    <tbody>
                                    <tr>
                                      <td style="font-size:0;height:24px;vertical-align:middle;width:24px"><a href="https://app.termsfeed.com/wizard/disclaimer" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://app.termsfeed.com/wizard/disclaimer&amp;source=gmail&amp;ust=1621925283092000&amp;usg=AFQjCNFqsuHcjyBB_jlIay6XOm8aqsF1gg"><img height="24" src="https://ci6.googleusercontent.com/proxy/hyCZDBMDJTyQBd08KNeBflGjWAv3mwuZiyPPL8N6Lc99ZzVynYv9wULi3WAxtCUzZo7N2ggRASHzm91p4w5yr1IwOkYi6T7Ktx3kTv_uT93Fnltp=s0-d-e1-ft#https://app.termsfeed.com/images/email-images/disclaimer-icon.png" width="24" style="border-radius:3px" class="CToWUd"></a></td>
                                    </tr>
                                    </tbody>
                                  </table>
                                </td>
                                <td style="vertical-align:middle;padding:4px 4px 4px 0"><a href="https://app.termsfeed.com/wizard/disclaimer" style="color:#333333;font-size:18px;font-family:Arial;line-height:60px;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://app.termsfeed.com/wizard/disclaimer&amp;source=gmail&amp;ust=1621925283092000&amp;usg=AFQjCNFqsuHcjyBB_jlIay6XOm8aqsF1gg"><span style="padding-left:12px;color:#de656b;text-decoration:none">Disclaimer</span></a>
                                </td>
                              </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div style="background:#f1f1f1;background-color:#f1f1f1;margin:0px auto;max-width:600px">
      <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#f1f1f1;background-color:#f1f1f1;width:100%">
        <tbody>
        <tr>
          <td style="direction:ltr;font-size:0px;padding:20px 0;padding-bottom:0px;padding-top:30px;text-align:center;vertical-align:top">
            <div style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
              <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="vertical-align:top">
                <tbody>
                <tr>
                  <td align="left" style="font-size:0px;padding:10px 25px;padding-bottom:0px;word-break:break-word">
                    <div style="font-family:Arial;font-size:20px;font-weight:700;line-height:26px;text-align:left;color:#444444">
                      Need Help?</div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div style="background:#f1f1f1;background-color:#f1f1f1;margin:0px auto;max-width:600px">
      <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#f1f1f1;background-color:#f1f1f1;width:100%">
        <tbody>
        <tr>
          <td style="direction:ltr;font-size:0px;padding:20px 0;padding-bottom:0px;padding-top:20px;text-align:center;vertical-align:top">
            <div style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
              <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="vertical-align:top">
                <tbody>
                <tr>
                  <td align="left" style="font-size:0px;padding:10px 25px;padding-top:0px;padding-bottom:0px;word-break:break-word">
                    <div style="font-family:Arial;font-size:13px;line-height:20px;text-align:left;color:#444444">
                      Visit the Help section on <a href="https://termsfeed.com" style="color:#2e7fd1" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://termsfeed.com&amp;source=gmail&amp;ust=1621925283092000&amp;usg=AFQjCNGxbW0LnZ7k5xLVR9yPLwygQq2nTw">
                      termsfeed.com</a> or email us at <a href="mailto:office@termsfeed.com" style="color:#2e7fd1" target="_blank">
                      office@termsfeed.com</a>.</div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div style="background:#f1f1f1;background-color:#f1f1f1;margin:0px auto;max-width:600px">
      <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#f1f1f1;background-color:#f1f1f1;width:100%">
        <tbody>
        <tr>
          <td style="direction:ltr;font-size:0px;padding:20px 0;padding-bottom:10px;padding-top:20px;text-align:center;vertical-align:top">
            <div style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
              <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                <tbody>
                <tr>
                  <td style="vertical-align:top;padding-top:0px;padding-bottom:0px">
                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                      <tbody>
                      <tr>
                        <td style="font-size:0px;padding:10px 25px;word-break:break-word">
                          <p style="border-top:solid 1px #d9d9d9;font-size:1;margin:0px auto;width:100%">
                          </p>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div style="background:#f1f1f1;background-color:#f1f1f1;margin:0px auto;max-width:600px">
      <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#f1f1f1;background-color:#f1f1f1;width:100%">
        <tbody>
        <tr>
          <td style="direction:ltr;font-size:0px;padding:20px 0;padding-bottom:0px;padding-top:0px;text-align:center;vertical-align:top">
            <div style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
              <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="vertical-align:top">
                <tbody>
                <tr>
                  <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word">
                    <div style="font-family:Arial;font-size:13px;line-height:20px;text-align:left;color:#848484">
                      This email was sent to <span style="color:#2e7fd1"><a href="mailto:Info@stitchgrab.com" target="_blank">Info@stitchgrab.com</a></span></div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div style="background:#f1f1f1;background-color:#f1f1f1;margin:0px auto;max-width:600px">
      <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#f1f1f1;background-color:#f1f1f1;width:100%">
        <tbody>
        <tr>
          <td style="direction:ltr;font-size:0px;padding:20px 0;padding-top:0px;text-align:center;vertical-align:top">
            <div style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
              <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" style="vertical-align:top">
                <tbody>
                <tr>
                  <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word">
                    <div style="font-family:Arial;font-size:13px;line-height:5px;text-align:left;color:#848484">
                      TermsFeed © 2012 - 2021</div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>